body {
    background-color: #E6FAFA;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* ヘッダーの見た目 */

  header {
    position: relative;
    z-index: 100;
    display: flex;
    background-color: #9ED3E6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  header h1 {
    margin: 0;
    margin-right: auto;
    color: #fff;
    font-size: 36px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    display: inline-block;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
 /* mainの見た目 */
  
  main {
    color: #333;
    margin-bottom: 50px;
    background: linear-gradient( to bottom, #fff 450px, #ffffff00);
  }
  
  .eng-text {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
  }

  section {
    margin-bottom: 20px;
  }

  section.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }

  .works {
    float: left;
  }

  /* latestProjectsの見た目 */
  .project-box {
    padding: 10px;
    display: flex;
  }

  .project-box img {
    width: 300px;
    border-radius: 5px;
  }

  a {
  color: #333;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  }

  .latestProjects {
    display: flex;
    flex-wrap: wrap;
  }

  .project-box:hover {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* フッダーの見た目 */

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px; /* footerの高さを設定する */
    background-color: #C3F2F5;
    padding: 10px;
  }

  footer p {
    color: #fff;
    font-size: small;
    float: right;

}